@{
    Layout = null;
}

<div>
        <table style="width:100%">
            <tr>
                <td style="text-decoration:solid; text-align:center" >

                    <label style="color:red; font-size:xx-large; font:bold">You are not authorized to view this page</label>

                </td>
            </tr>
        </table>
    </div>
